header{
    font-family: 'vms_bold';
    height:180px;
    background-color: #5400d8;
    color:white;
    line-height: 180px;
    position: relative;
    font-size: 30px;
    padding-left:280px;
    text-align: center;
}
.login-l{
  position: absolute;
  width:260px;
  height: 125px;
  left:25px;
  top:25px;
}
.login-l img{
    width:100%;
    height:100%;
}
.content{
    position: absolute;
    top:180px;
    left:0;
    right:0;
    bottom:0;
}
.container{
    width:600px;
    height:320px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-300px;
    margin-top:-160px;
    border:1px solid #5400d8;
}
.title{
    font-family: 'vms_bold';
    height:65px;
    background-color: #5400d8;
    line-height: 65px;
    text-align: center;
    color:white;
    font-size: 20px;
}
.container ul{
    padding:28px 40px;
}
.container li{
    height:80px;
    font-size: 16px;
}
.container li label{
    font-size: 16px;
    /* font-family: 'vms_bold'; */
    font-weight: 600;
    color:black;
    padding-right:10px;
}
.container input{
    width:384px;
    height:52px;
    border:1px solid #e6e6e7;
    border-radius: 4px;
    padding:0 10px;
    box-sizing: border-box;
}
.container .btn{
    width:180px;
    height:56px;
    background-image: url('./img/login-btn.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left:50%;
    margin-left:-90px;
    bottom:20px;
}