header{
    font-family: 'vms_bold';
    height:140px;
    position: relative;
    padding:20px 200px;
    line-height: 100px;
    text-align: center;
    font-size:30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.logo{
    position: absolute;
    left:20px;
    top:30px;
    width:160px;
    height:80px;    
}
header img{
    width:100%;
    height:100%;
}
.logo-r{
    position: absolute;
    right:20px;
    top:30px;
    width:160px;
    height:80px;   
}
.title{
    font-family: vms-bold;
    height:40px;
    line-height: 40px;
    padding:0 20px;
    position: relative;
    font-size:14px;
}
.user-name{
    position: absolute;
    right:20px;
    top:0;
    line-height: 40px;
}
.menu{
    height:100px;
    padding:20px;
    background-color: #eaf4ff;
}
.menu-item{
    width:85px;
    height:100px;
    margin:0 20px;
    float: left;
    position: relative;
    font-size:14px;
    text-align: center;
}
img{
    width:100%;
    height:100%;
}
.menu-img{
    width:70px;
    border-radius: 70px;
    height:70px;
    padding:4px;
    margin-bottom: 5px;
}
.menu-item.active .menu-img{
    border:1px solid #5400d8;
}
.main{
    position: relative;
}
/** check-in*/
.left-menu{
    width:270px;
    height:460px;
    overflow-y: auto;
}
.left-menu .search{
    height:90px;
    background-color: #5400d8;
    padding:20px 30px;
    text-align: center;
    color:white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.vms-bold{
    font-family: 'vms-bold';
}
.add{
    width:100%;
    height:60px;
}
.left-mune-list li{
    min-height:115px;
    width: 100%;
    background-image: url('./img/menu-left.jpg');
    background-size: 100% 100%;
    padding: 16px 30px 16px 130px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}
.left-mune-list .head-img{
    width:82px;
    height:82px;
    position: absolute;
    left:30px;
    top:16px;
}
.left-menu-i-r{
    line-height: 20px;
    font-size: 13px;
}
.search-input{
    margin-top: 5px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
    position: relative;
}
.search-img{
    position: absolute;
    right: 5px;
    top: 3px;
    width:20px;
    height:20px;
}
.search-input input{
    width:77%;
    height: 100%;
    border: none;
    outline: none;
}
.content{
    position: absolute;
    left:300px;
    top:16px;
    right:30px;
}
.content-c ul{
    width:90%;
}
.content-c li{
    width:50%;
    padding-right:5%;
    padding-left:100px;
    float:left;
    height:40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}
.content-c li.li1{
    height:70px;
}
.content-c li input,.content-c li .input{
    height:30px;
    border:1px solid #d7d7d7;
    outline: none;
    width:100%;
    line-height: 30px;
    box-sizing: border-box;
} 
.content-c li .input{
    box-sizing: border-box;
    position: relative;
    height:32px;
}
.content-c li .select-icon{
    width:40px;
    position: absolute;
    top:0;
    bottom:-1px;
    right:-1px;
    background-image: url('./img/select-icon.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}
.content-c li select{
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    padding-right:40px;
    box-sizing: border-box;
    line-height: 30px;
    background-image: url('./img/select-icon.jpg');
    background-size:40px 30px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.content-c li .input1{
    height: 60px;
}
.content-c li label{
    position: absolute;
    top: 0;
    left: 0;
    width:80px;
    height: 40px;
    line-height: 36px;
}
.content-c li .label1{
    line-height: 20px;
}
.content-t {
    width:100%;
    position: relative;
    height:220px;
    font-family: 'vms_bold';
}
.content-t .col4{
    margin-right:20px;
    text-align: center;
    font-size: 14px;
    width:180px;
}
.content-t .img-box{
    border:1px solid #dedede;
    height: 130px;
    margin:5px 0 10px 0;
    background-image: url('./img/photo.jpg');
    background-size:40px 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.content-t .img-box-img{
    position: absolute;
    z-index: 99;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.content-t .img-box-img img{
    width:auto;
    max-width: 100%;
    height:130px;
    position: absolute;
    left: 50%;
    top:0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.loadbtn{
    width: 80%;
    margin: 0 auto;
    height: 30px;
    background-color:#5400d8;
    color:white;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}
.capture{
    background-color: #5400d8;
    color:white;
    width:50%;
    margin-right:10%;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.clearbtn{
    background-color: #9bb0ce;
    color:white;
    width:40%;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.content-t-r{
    position: absolute;
    top:10px;
    right:0;
    font-size: 14px;
    line-height: 30px;
}
.content-t-r input{
    height:30px;
    border:1px solid #d7d7d7;
}
.content-t-r label{
    margin-right: 5px;
}
.check-in-btn{
    position: absolute;
    right: 0;
    top:45px;
    width:40%;
    height:30px;
    text-align: center;
    line-height: 30px;
    color:white;
    background-color: #14B208;
    border-radius: 4px;
}
.mask-c{
    width:450px;
    height: 160px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -225px;
    margin-top:-80px;
}
.mask-title{
    background-color: #5400d8;
    color: white;
    height:90px;
    line-height: 90px;
    text-align: center;
    font-size: 26px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mask-btn{
    height: 70px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    cursor:pointer;
}
.mask-btn li{
    width:49.5%;
    float: left;
}
.mask-btn li.bdr{
    border-right:1px solid #6920dd;
}
/**check out*/
.check-out-btn{
    background-color: #e00000;
    position: absolute;
    right: 0;
    top:45px;
    width:40%;
    height:36px;
    color:white;
    font-size: 18px;
    line-height: 36px;
    border-radius: 5px;
    text-align: center;
}

/**history*/
.history{
    padding:30px;
    position: absolute;
    top: 300px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-bottom: 110px;
}
.history table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
.history thead{
    background-color: #D7E3ED;
}
.history table td,.history table th{
    border:1px solid #5400d8;
    padding:10px;
}
.history-t{
    padding:20px 0;
    height:30px;
    line-height: 30px;
}
.history-t input{
    height:30px;
    line-height: 30px;
    margin:0 30px 0 5px;
    padding-left:5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border:1px solid #EBEBEC;
}
.history-t .btn{
    width:100px;
    height:30px;
    cursor: pointer;
}
.history .print{
    width: 70px;
    height: 107px;
    position: absolute;
    right: 60px;
    margin-top: 10px;
    cursor: pointer;
}
/**setting  */
.setting .setting-m{
    height:130px;
    width:900px;
    margin:160px auto 0;
}
.setting .setting-m li{
    width:200px;
    height:130px;
    float: left;
    cursor: pointer;
}
.setting .mr150{
    margin-right: 150px;
}
.setting .setting-m li img{
    width:100%;
    height:100%;
}
.setting .container{
    width:1200px;
    margin:30px auto;
    border:1px solid #4a6cf5;
    font-family: 'vms-bold';
}
.setting .title{
    height:60px;
    background-color: #5400d8;
    line-height: 60px;
    text-align: center;
    color:white;
    font-size: 20px;
}
.setting .container ul{
    padding:28px 40px;
}
.setting .container li{
    height:80px;
    font-size: 16px;
}
.setting .container li label{
    font-size: 16px;
    color:black;
    padding-right:10px;
    display: inline-block;
    width:150px;
    text-align: right;
    vertical-align: middle;
}
.setting .container input[type=text],.setting .container .input,.setting .container input[type=password]{
    width:900px;
    height:52px;
    border:1px solid #e6e6e7;
    border-radius: 4px;
    padding:0 10px;
    box-sizing: border-box;
}
.setting  .upload-input{
    position: relative;
    width:900px;
    height:52px;
    line-height: 52px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    border:1px solid #e6e6e7;
    vertical-align: middle;
}
.setting .upload-input input{
    border:none !important;
    padding-right:150px;
    outline: none;
}
.setting .upload-input .browse{
    color:white;
    background-color: #5400d8;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
    width:140px;
}
.setting .container .input{
    display: inline-block;
    padding-right:0px !important;
    position: relative;
}
.setting .container .btn{
    width:180px;
    height:56px;
    background-image: url('./img/login-btn.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left:50%;
    margin-left:-90px;
    bottom:20px;
}
.setting .btns{
    width:400px;
    margin:0 auto;
    height: 55px;
}
.setting .btn{
    width:180px;
    height:55px;
    float: left;
}
.mr40{
    margin-right:40px;
}
.setting li select{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-right:40px;
    box-sizing: border-box;
    line-height: 100%;
    background-image: url('./img/select-icon.jpg');
    background-size:60px 52px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.vms-video{
    width:100%;
    height:100px;
}
.video-js{
    height:100%;
}
.video-js .vjs-big-play-button{
    left:50%;
    top:50%;
    margin-left:-45px;
    margin-top:-22px;
}
.video-box{
    width:100%;
    height:100%;
}